.new-btn{
  background-color: green;
  color:white;
  cursor: pointer;
  border-radius: 8%;
}

.new-btn:hover{
  background-color: aliceblue;
  color: green;
  transition: 0.5s ;
  transform: translateY(-8px);
  border-radius: 10%;
}